* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #090b1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #1b1938;
  overflow: hidden;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.75);
  max-width: 1440px;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 446px;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: row;
}
main section {
  width: 50%;
}
main section.item-left {
  padding-top: 3.5rem;
  padding-left: 4rem;
  padding-right: 3.5rem;
  font-family: "Lexend Deca", sans-serif;
}
main section.item-left span {
  color: #aa5cdb;
}
main section.item-left h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  line-height: 1.3;
}
main section.item-left a {
  text-decoration: none;
}
main section.item-left ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}
main section.item-left ul li {
  padding-right: 45px;
}
main section.item-left ul li div {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}
main section.item-left ul li div.bigger {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}
main section.item-left p {
  line-height: 1.5;
  padding-bottom: 85px;
  color: rgba(255, 255, 255, 0.75);
  padding-right: 15px;
}
main section.item-right {
  position: relative;
  background-image: url("../images/image-header-desktop.jpg");
  background-size: cover;
  background-position: center;
}
main section.item-right #overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(91, 28, 130, 0.7);
}

@media (max-width: 1050px) {
  main section.item-left h1 {
    font-size: 1.5rem;
  }
  main section.item-left p {
    padding-bottom: 15px;
    line-height: 1.3;
  }
  main section.item-left ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
  }
  main section.item-left ul li {
    padding-right: 25px;
  }
  main section.item-left ul li div {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem;
  }
  main section.item-left ul li div.bigger {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-end;
    width: 80%;
    height: 780px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
  }
  main section {
    width: 100%;
  }
  main section.item-left {
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  main section.item-left h1 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
  }
  main section.item-left p {
    padding-bottom: 35px;
    line-height: 1.2;
    text-align: center;
    padding-right: 0;
  }
  main section.item-left ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  main section.item-left ul li {
    padding-right: 0;
    padding-bottom: 15px;
  }
  main section.item-left ul li div {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  main section.item-left ul li div.bigger {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
  }
  main section.item-right {
    background-image: url("../images/image-header-mobile.jpg");
    height: 240px;
  }
}

/*# sourceMappingURL=main.css.map */
