// Colors
$primary1: hsl(233, 47%, 7%); // very dark blue
$primary2: hsl(244, 38%, 16%); // dark desaturaed blue - card background
$primary3: hsl(277, 64%, 61%); // soft violet - accent

$neutral1: hsl(0, 0%, 100%); // main heading, stats
$neutral2: hsla(0, 0%, 100%, 0.75); // slightly transparent white - main paragraph
$neutral3: hsla(0, 0%, 100%, 0.6); // slightly transparent white - stat headings

$font-size: 15px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: $primary1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: $primary2;
  overflow: hidden;
  border-radius: 10px;
  color: $neutral2;
  max-width: 1440px;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 446px;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: row;


  section {
    width: 50%;

    &.item-left {
      padding-top: 3.5rem;
      padding-left: 4rem;
      padding-right: 3.5rem;
      font-family: 'Lexend Deca', sans-serif;

      span {
        color: $primary3;
      }

      h1 {
        color: $neutral1;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 2.0rem;
        padding-bottom: 1rem;
        line-height: 1.3;
      }

      a {
        text-decoration: none;
      }

      ul {
        list-style-type: none;
        display: flex;
        align-items: flex-start;

        li {
          padding-right: 45px;

          div {
            color: $neutral3;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.8rem;
          }

          div.bigger {
            color: $neutral1;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 1.3rem;
          }

        }
      }

      p {
        line-height: 1.5;
        padding-bottom: 85px;
        color: $neutral2;
        padding-right: 15px;
      }


    }

    &.item-right {

      position: relative;
      background-image: url('../images/image-header-desktop.jpg');
      background-size: cover;
      background-position: center;

      #overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background-color: rgba(darken($primary3, 30%), 0.7);
      }


    }

  }
}

@media(max-width: 1050px) {
  main {
    section {
      &.item-left {
        h1 {
          font-size: 1.5rem;
        }
        p {
          padding-bottom: 15px;
          line-height: 1.3;
        }

        ul {
          list-style-type: none;
          display: flex;
          align-items: flex-start;

          li {
            padding-right: 25px;

            div {
              color: $neutral3;
              text-align: center;
              text-transform: uppercase;
              font-size: 0.6rem;
            }

            div.bigger {
              color: $neutral1;
              font-family: 'Inter', sans-serif;
              font-weight: 700;
              font-size: 1.0rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px){
  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-end;
    width: 80%;
    height: 780px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;

    section {
      width: 100%;

      &.item-left {

        padding-top: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        h1 {
          font-size: 1.5rem;
          text-align: center;
          padding-bottom: 3rem;
        }
        p {
          padding-bottom: 35px;
          line-height: 1.2;
          text-align: center;
          padding-right: 0;
        }

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          li {
            padding-right: 0;
            padding-bottom: 15px;

            div {
              color: $neutral3;
              text-align: center;
              text-transform: uppercase;
              font-size: 0.8rem;
            }

            div.bigger {
              color: $neutral1;
              font-family: 'Inter', sans-serif;
              font-weight: 700;
              font-size: 1.3rem;
            }
          }
        }

      }

      &.item-right{
        background-image: url('../images/image-header-mobile.jpg');
        height: 240px;
      }
    }
  }
}



